@using Cencinai.Logic.Models;
@model NiñoModel

@{
    ViewData["Title"] = "Editar Niño";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index" onclick="displayBusyIndicator()">Menú</a></li>
    <li class="breadcrumb-item"><a asp-controller="Niño" asp-action="ListarNiños" onclick="displayBusyIndicator()">Niños</a></li>
    <li class="breadcrumb-item active">Editar Niño</li>
</ol>
@Html.HiddenFor(Model => Model.Id)
<h4>Editar Niño</h4>
<hr />
<div class="container">
    <form asp-action="EditarNiño">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" type="text" autocomplete="off" class="form-control" id="Nombre" placeholder="Nombre" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="PrimerApellido" class="control-label"></label>
                    <input asp-for="PrimerApellido" type="text" autocomplete="off" class="form-control" id="PrimerApellido" placeholder="Primer Apellido" />
                    <span asp-validation-for="PrimerApellido" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="SegundoApellido" class="control-label"></label>
                    <input asp-for="SegundoApellido" type="text" autocomplete="off" class="form-control" id="SegundoApellido" placeholder="Segundo Apellido" />
                    <span asp-validation-for="SegundoApellido" class="text-danger"></span>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="FechaNacimiento" class="control-label"></label>
                    <input asp-for="FechaNacimiento" type="date" autocomplete="off" class="form-control" id="FechaNacimiento" placeholder="Fecha Nacimiento" />
                    <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="CategoriaId" for="CategoriaId"></label>
                    <select asp-for="CategoriaId" class="form-control" id="CategoriaId" asp-items="ViewBag.categorias">
                        <option>Seleccione Categoría</option>
                    </select>
                    <span asp-validation-for="CategoriaId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="ResponsableId" for="ResponsableId"></label>
                    <select asp-for="ResponsableId" class="form-control" id="ResponsableId" asp-items="ViewBag.responsables">
                        <option>Seleccione Responsable</option>
                    </select>
                    <span asp-validation-for="ResponsableId" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="InformacionAdicional" class="control-label"></label>
                    <input asp-for="InformacionAdicional" type="text" autocomplete="off" class="form-control" id="InformacionAdicional" placeholder="Informacion Adicional" />
                    <span asp-validation-for="InformacionAdicional" class="text-danger"></span>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-1">
                <a asp-action="ListarNiños" class="btn btn-danger" onclick="displayBusyIndicator()">Cancelar</a>
            </div>
            <div class="col-1">
                <input type="submit" value="Guardar" class="btn btn-success" onclick="displayBusyUser()" />
            </div>
        </div>
    </form>
</div>
