@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Error</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">
    <link href="~/css/errorStyle.css" rel="stylesheet" />
</head>

<body>

    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404"></div>
            <h1>Error</h1>
            <h2>¡Oops! Lo sentimos</h2>
            <h3>Ha ocurrido un error durante el proceso</h3>
            <h2><a asp-controller="Home" asp-action="Index">Ir al Menú</a></h2>
        </div>
    </div>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
